* {padding: 0; margin: 0}
.fixed-div {
    z-index: 1;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 1;
    max-width: 280px;
}
.fixed-div-text {
    z-index: 1;
    font-weight: bold;;
    padding-top: 10px;
    background-color: white;
    max-width: 280;
    text-align: center;
    display: none;
}
select.dropdown{       
    border: 0;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.date-label {
    background-color: white;
    max-width: 300px;
    font-size: 10px;
    font-style: italic;
}
.button-style {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.legend {
    border: 30px solid #000; 
    display:none; 
    max-width: 200%;
}